html {
	background-image:
	  url('https://i.imgur.com/VuwgV1X.jpg');
	position: cover;
}

h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 80px;
	color:#f298aa;
	text-align: center;
	margin: auto;
	background-color:#c4efdc; 
	border-radius: 50px;
	border:10px solid #f298aa;
}

h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
	color:#f298aa;
	text-align: center;
}

#slots_container {
	display: flex;
	align-self: center;
    padding: 10px;
    margin: 100px;
	width: 50px;
	height: 100px;
}

.slots {
	font-size:100px;
	font-family: 'Fredoka One', cursive;
	width:200px;
	height:200px;
    border:10px solid pink;
    border-radius: 50px;
	float: center;
	vertical-align: right;
	background-color:#f298aa;
	margin: 0 80px 0 80px;
}

.slots .wrapper{
	margin-top: 100px;
	width:100px;
}

.slots .slot{
	width:200px;
	height:200px;
	text-align:center;
}

button {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    color:#f298aa;
    margin-top: 300px;
    padding: 10px;
    background-color:#c4efdc; 
	border-radius: 50px;
	border:10px solid #f298aa;
	height: 100px;

}
